/* text begin */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-size:larger;
  }
  /* text end */

  /* picture begin */
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* picture end */

  